/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 30, 2014, 11:00:16 PM
    Author     : Dhanasekar Karuppanan
*/

html,body{font-family:"Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;font-weight:normal;-webkit-text-size-adjust:none;margin:0;cursor:default}

.viewport-inner {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.mainmenu {
    background:#1d1d1d url(../images/logo_Stamp.png) no-repeat center 10px;background-size:226px 77px}@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2){.mainmenu{background-image:url(../images/logo_Stamp.png)}
}

.mainmenu .divider {
    font-size: 0.7em;
    color: #a3a3a3;
    padding: 0.2em 1em;
    border-bottom: 1px solid #161616;
    background: #1d1d1d;
}

.x-button-mainmenu, .x-button-login {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    background-image: none;
    background-color: #262626;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #161616;
    border-width: 1px 0;
    height: 3em;
}

.x-button-mainmenu, .x-button-mainmenu .x-button-label, .x-button-mainmenu .x-badge, .x-button-login, .x-button-login .x-button-label, .x-button-login .x-badge {
    color: #FFF;
    text-align: left;
}

.x-button-mainmenu.x-button-pressing, .x-button-login.x-button-pressing {
    background-color: #000;
    background-image: none;
}

.x-button-mainmenu.x-button-pressing, .x-button-mainmenu.x-button-pressing .x-button-label, .x-button-mainmenu.x-button-pressing .x-badge, .x-button-login.x-button-pressing, .x-button-login.x-button-pressing .x-button-label, .x-button-login.x-button-pressing .x-badge {
    color: #888;
}